.radio{

    border-radius: 35px 35px
 }
 .radios{
    border-radius: 25px 25px 

 }

 .al{

   color:#0F501D;
 }
.lar{

    background-color: #FF914D;
}

.fundoForms{
   background: rgb(126,217,87);
   background: linear-gradient(90deg, rgba(126,217,87,1) 52%, rgb(87, 139, 97) 96%);
 
 }

.fundoVerdinClarin{

   background-color: #CAEDBA;
 
}

.css-selector {
   background: linear-gradient(214deg, #103813, #0F501D, #7ed859);
   background-size: 600% 600%;

   -webkit-animation: AnimationName 8s ease infinite;
   -moz-animation: AnimationName 8s ease infinite;
   animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
   0%{background-position:50% 0%}
   50%{background-position:51% 100%}
   100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
   0%{background-position:50% 0%}
   50%{background-position:51% 100%}
   100%{background-position:50% 0%}
}
@keyframes AnimationName {
   0%{background-position:50% 0%}
   50%{background-position:51% 100%}
   100%{background-position:50% 0%}
}




