<div class="container-fluid fundo-entrar ">

    <div class="row d-flex align-items-center">

        <div class="col-md-4">

            <div class="row d-flex bg-light justify-content-center radio mt-5 ml-5 ">
                <div class="col-md-6">

                    <h1 class="text-center al mt-3 mb-3">Login</h1>
                </div>
                <div class="form-group ">
                    <label for="email">E-mail</label>
                    <input class="form-control radios" type="text" name="email" id="email" placeholder="Seu e-mail"
                        [(ngModel)]="usuarioDTO.email">
                </div>

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control radios" type="password" name="senha" id="senha" placeholder="Sua senha"
                        [(ngModel)]="usuarioDTO.senha">
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-block
                    btn-info text-white  "  (click)="entrar()"> <h4>Entrar</h4></button>
                </div>

                <p class="text-center mt-5">Não tem uma conta?</p>

                <hr class="mt-2 mb-4">

                <div class="d-flex justify-content-center mb-4">
                    <button class=" btn btn-lg btn-block text-center radio lar ">
                        <a class="text-white" routerLink="/cadastrar">Cadastre-se</a>
                    </button>
                </div>
                


            </div>
           
            
        </div>


        <div class="col-md-8" id="img-bg"></div>





    </div>

</div>