.fundo-home{
    background-color:#CAEDBA;
}

.p-70{
    padding-left: 25px;
}
.radio{

    border-radius: 35px 35px
 
  }
 .radios{
    border-radius: 25px 25px 

 }

 .topradios{
 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.fundo-menu{
  background-color: #10501C;
}


.fundoVerdinClarin{

  background-color: #CAEDBA;

}
.C:hover{

  color: #CAEDBA;
 background-color: #0F501D;

}
.C{

  color: #0F501D;
  background-color: #CAEDBA;

}


.VerdeEscuroAlimentizze{

  color:#0F501D;
}

.fundoForms{
  background: rgb(126,217,87);
  background: linear-gradient(90deg, rgba(126,217,87,1) 52%, rgba(90,132,98,1) 96%);

}

.css-selector {
  background: linear-gradient(214deg, #103813, #0F501D, #7ed859);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}


.mxr-70{
  margin-right: 210px;
}


.paralaxGIF{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://imgur.com/9MZyESV.gif'); /*  link antigo com iluminesencia azul --> https://i.gifer.com/PAA.gif */
  
}
      
     