.fundo-home{
    background-color:#CAEDBA;
}

.p-70{
    padding-left: 25px;
}
.radio{

    border-radius: 35px 35px
 
  }
 .radios{
    border-radius: 25px 25px 

 }

 .topradios{
 
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}

.fundo-menu{
  background-color: #10501C;
}


.fundoVerdinClarin{

  background-color: #CAEDBA;

}
.C:hover{

  color: #060561;
  background-color: #00C2CB;

}
.C{

  color: #00C2CB;
  background-color: #70e5fa;

}
.A:hover{

  color: #d85402;
  background-color: #FF914D;

}
.A{

  color: #fab081;
  background-color: #FF914D;

}
.S:hover{

  color: #ce9f05;
  background-color: #fce589;

}
.S{

  color: #c0b300;
  background-color: #FFDE59;

}

.a{

  color:#0F501D;
}