<div class=" container-fluid fundo-home">

  <div class="row ">

    <div class="col-3 p-70 mt-2">

      <div class="row p-0 m-0">
        <div class="card radios">
          <div class="card-body">

            <div class="row mt-2 p-0 m-0">

              <div class="col-md-5 p-0 m-0 d-flex align-items-center">
                <div class="ml-3">
                  <img src="{{foto}}" alt="foto usuario" width="90px" height="90px" class="img-fluid rounded-circle">
                </div>
              </div>
              <div class="col-md-7 d-flex align-items-center">
                <div class="mr-3">
                  <h6>{{nome}}</h6>
                  <hr>
                  <h6>
                    {{tipo}}
                  </h6>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="row mt-1">

        <div class="col-md-12 ">

          <div class="list-group radios">
            <a href="" class="list-group-item list-group-item-action text-center">
              Destaque
            </a>
            <a href="" class="list-group-item list-group-item-action">Minhas Postagens</a>
            <a href="" class="list-group-item list-group-item-action">Meus Grupos</a>
            <a href="" class="list-group-item list-group-item-action">Minhas Campanhas em andamentos</a>
            <a href="" class="list-group-item list-group-item-action ">Minhas ações solidarias</a>
          </div>
        </div>

      </div>

    </div>


    <div class="col-6 mt-2">

<!-- Meu formulario -->
      <div>
      <div class="row">
        <div class=" radio fundo-home ">

          <!--img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card"-->
          <div class="card-body p-0 m-0 ">


            <div class="row">
              <div class="col fundo-home">

              </div>
              <div class="col-12 fundo-menu radios mb-2">


                <div class="row d-flex justify-content-start mt-1  text-white">

                  <div class="col-md-2 d-flex justify-content-start ">
                    <img
                      src="{{foto}}"
                      alt="foto ong" width="70px" height="70px" class="img-fluid rounded-circle">

                  </div>

                  <div class="col-md-10 d-flex justify-content-start  d-flex align-items-center">
                    <h5 class="">{{nome}}</h5>
                  </div>

                </div>
                <hr class="p-0 m-0">

                <div class="p-0 m-0">

                  <form>

                    <label for="tema"></label><br>
                    <input [(ngModel)]="postagem.tema" [ngModelOptions]="{standalone: true}" class="radio w-100" type="text" id="tema" placeholder="     Tema"><br>

                    <label for="titulo"></label><br>
                    <input [(ngModel)]="postagem.titulo" [ngModelOptions]="{standalone: true}" class="radio w-100" type="text" id="titulo" placeholder="     Titulo"><br>


                    <div class="radio">
                      <label for="descricao"></label><br>
                      <textarea [(ngModel)]="postagem.descricao" [ngModelOptions]="{standalone: true}" class="radio w-100 " name="descricao" id="descricao" cols="40" rows="5"
                        placeholder="     Descrição"></textarea>
                    </div>

                    <div>
                      <label for="link"></label> <br>
                      <input [(ngModel)]="postagem.link"  [ngModelOptions]="{standalone: true}" class="radio w-100" type="text" id="link" placeholder="     Link da ONG">
                    </div>



                    <div class="row mt-3">

                      <div class="col-md-1"></div>

                      <div class="col-md-5 p-0 m-0">
                        <div class="row d-flex justify-content-start">

                          <label for="dataPostagem"></label>
                          <input [(ngModel)]="postagem.dataPostagem" [ngModelOptions]="{standalone: true}" class="radio w-75  " type="text" id="dataPostagem" placeholder="Data da Postagem">

                        </div>
                      </div>

                      <div class="col-md-5 p-0 m-0">
                        <div class="row d-flex justify-content-end">

                          <label for="dataExpiração"></label>
                          <input [(ngModel)]="postagem.dataExpiracao"  [ngModelOptions]="{standalone: true}" class="radio w-75   " type="text" id="dataExpiracao" placeholder="Data Expiração">

                        </div>

                      </div>

                      <div class="col-md-1"></div>

                    </div>





                    <div>
                      <hr>
                      <div class="row">
                        <div class="m-auto d-flex justify-content-around ">

                          <button type="button" class="btn btn-danger" [routerLink]="['/home']" >Cancelar</button>
                          <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>

                        </div>

                      </div>


                      <br>
                    </div>

                  </form>

                </div>

              </div>


            </div>

            <div class="col fundo-home p-0 m-0">

            </div>
          </div>

        </div>


      </div>




      </div>


<!-- Meu formulario -->

<!-- Meu card -->
<div *ngFor="let postagem of listaPostagens"> <!-- ng-for coloca aqui -->
  <div class="row">
    <div class=" radio fundo-home ">

      <!--img class="card-img-top" src=".../100px160/" alt="Imagem de capa do card"-->
      <div class="card-body p-0 m-0 ">


        <div class="row">
          <div class="col fundo-home">

          </div>
          <div class="col-12 fundo-menu radios mb-2">


            <div class="row d-flex justify-content-start mt-1  text-white">

              <div class="col-md-2 d-flex justify-content-start ">
                <img
                  src="{{postagem.usuario.foto}}"
                  alt="foto ong" width="70px" height="70px" class="img-fluid rounded-circle">

              </div>

              <div class="col-md-10 d-flex justify-content-start  d-flex align-items-center">
                <h5 class="">{{postagem.usuario.nomeCompleto}}</h5>
              </div>

            </div>
            <hr class="p-0 m-0">

            <div class="p-0 m-0">

              <form>

                <label for="tema"></label><br>
                <label for="titulo"></label><br>
                <div class="w-100 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.tema.categoria}}</p></div>
                <br>

                <label for="titulo"></label><br>
                <div class="w-100 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.titulo}}</p></div>
               <br>


                <div class="radio">
                  <label for="descricao"></label><br>
                  <label for="titulo"></label><br>
                  <div class="w-100 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.descricao}}</p></div>
                </div>

                <div>
                  <label for="link"></label> <br>
                  <label for="titulo"></label><br>
                  <div class="w-100 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.link}}</p></div>
                </div>



                <div class="row mt-3">

                  <div class="col-md-1"></div>

                  <div class="col-md-5 p-0 m-0">
                    <div class="row d-flex justify-content-start">

                      <label for="dataPostagem"></label>
                      <label for="titulo"></label><br>
                <div class="w-75 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.dataPostagem}}</p></div>

                    </div>
                  </div>

                  <div class="col-md-5 p-0 m-0">
                    <div class="row d-flex justify-content-end">

                      <label for="dataExpiração"></label>
                      <label for="titulo"></label><br>
                <div class="w-100 bg-white" style="border-radius: 25px;" > <p class="ml-2">{{postagem.dataExpiracao}}</p></div>

                    </div>

                  </div>

                  <div class="col-md-1"></div>

                </div>





                <div>
                  <hr>
                  <div class="row">
                    <div class="m-auto d-flex justify-content-around ">

                      <div class="p-70">
                        <button class="radio">Curti <img src="./../../assets/img/icones/like.png" alt="Curtir">
                        </button>

                      </div>

                      <div class="p-70 text-align-start ">
                        <button class="radio "><img src="./../../assets/img/icones/heart.png" alt="Colaborar">
                          Colabore</button>

                      </div>

                      <div class="p-70">
                        <button class="radio"><img src="./../../assets/img/icones/ribbon.png"
                            alt="Salvar Publicação">Salvar</button>

                      </div>

                    </div>

                  </div>


                  <br>
                </div>

              </form>

            </div>

          </div>


        </div>

        <div class="col fundo-home p-0 m-0">

        </div>
      </div>

    </div>


  </div>




  </div>


<!-- Meu card -->

    </div>






    <div class="col-3 mt-2">

      <div class="row ml-1">


        <div class="list-group radios " style="width: 23rem;">
          <a href="" class="list-group-item list-group-item-action active">

            Procure

          </a>
          <a href="" class="list-group-item list-group-item-action">CAMPANHAS EM ANDAMENTO</a>
          <a href="" class="list-group-item list-group-item-action ">CAMPANHAS PERTO DE MIM</a>
          <a href="" class="list-group-item list-group-item-action ">PESSOAS SOLIDARIAS </a>
          <a href="" class="list-group-item list-group-item-action  ">ONG'S SOLIDARIAS</a>
          <a href="" class="list-group-item list-group-item-action ">TRABALHOS VOLUNTARIOS</a>
          <a href="" class="list-group-item list-group-item-action  ">INSIRA MAIS AI PFV KKKK</a>

        </div>
      </div>

      <div class="row ml-1">

        <div class="list-group radios mt-2" style="width: 23rem;">
          <a href="" class="list-group-item list-group-item-action text-center  ">
            CONTATOS
          </a>
          <a href="" class="list-group-item list-group-item-action ">Achar uma ong</a>
          <a href="" class="list-group-item list-group-item-action ">Nosso endereço</a>
          <a href="" class="list-group-item list-group-item-action ">Entre em contato conosco</a>

        </div>
      </div>

    </div>



  </div>


</div>