<div class=" fundo-home">
        <div class="row">
          <hr>
          <div class="col-3 p-70 ">
              <div class="ml-3">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFJrFNnRW9eQA/profile-displayphoto-shrink_200_200/0/1629251253133?e=1635379200&v=beta&t=DKB5cLxTrbMZlPXgclDJ8r7ouMgLbkUiKS0PK0TpnPU" alt="foto usuario" width="70px"height="70px" class="img-fluid rounded-circle">
            </div>

             <div class="mr-3">
                <h3> Tamires Guimarães</h3>
                <p>
                    Colaboradore
                </p>
             </div>
          </div>
          <div class="col-6">
             <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFwXinJMoidnQ/company-logo_200_200/0/1560892001772?e=1637798400&v=beta&t=gN2eP1RpxKJJEQg9xYIXHqn6FojiCJR5-H_uFPnQLAw" alt="foto ong"width="70px"height="70px" class="img-fluid rounded-circle">
              ONG GENERATION BRASIL
             <form>
                <label for="tema">Tema:</label> <br>
                <input type="text" id="tema">
                <br>
                <label for="titulo">Titulo:</label> <br>
                <input type="text" id="titulo">
                <br>
            
                <br>
                <label for="descricao">Descrição:</label> <br>
                <textarea name="descricao" id="descricao" cols="50" rows="10" ></textarea>
                <br>
                <label for="link">Link da ONG:</label> <br>
                <input type="text" id="link">
                <br>
                <label for="dataPostagem">Data da Postagem:</label> <br>
                <input type="text" id="dataPostagem">
                <br>
                <label for="dataExpiração">Data Expiração:</label> <br>
                <input type="text" id="dataExpiracao">
                <br>
                <br>
                <div>
                <div class="m-auto d-flex align-items-center">
                    <div class="p-70">
                        <button> <img src="./../../assets/img/icones/like.png" alt="Curtir"></button> 
                        
                    </div>

                    <div class="p-70">
                        <button> <img src="./../../assets/img/icones/heart.png" alt="Colaborar"></button> 
        
                    </div>

                    <div class="p-70">
                        <button> <img src="./../../assets/img/icones/ribbon.png" alt="Salvar Publicação"></button> 

                    </div>

                  </div>
                  <br>
                </div>
                
            </form>

          </div>

          <div class="col-3">
            Em desenvolvimento*
          </div>

        </div>
      </div>
      

