.fundo-menu{
    background-color: #0F501D    ;
}
.p-30{
    padding-left: 40px;
    
}
.radio{

    border-radius: 35px 35px
 }
 .radios{
    border-radius: 25px 25px 

 }


 /*.imgdd{
    background-image: url(/src/assets/img/icones/arrow-down-filled-triangle.png)
 }*/

 .dropdown-menu {
    width: 180px !important;
    height: 300px !important;
    background-color:#CAEDBA;
    border-radius: 25px 25px 

}

.al{

    color:#0F501D;
  }

.fundo-home{
    background-color:#CAEDBA;
}