<nav class="navbar navbar-expand-lg navbar-light  fundo-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="../../assets/img/icones/Alimentizze (1).png" alt="LoGO Alimentizze" width="90px"
                    height="90px" class="img-fluid rounded-circle" routerLink='/home'>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                </form>
            </li>

        </ul>
        <ul class="navbar-nav m-auto d-flex align-items-center  ">


            <li class="nav-item p-30  ">
                <img src="../../assets/img/icones/pagina-inicial.png" alt="icone home " width="50px"
                height="50px" routerLink='/home'>
                

            </li>
            <li class="nav-item p-30">
              
                <img src="../../assets/img/icones/multiple-users-silhouette.png" alt="icone ong's"width="50px"
                height="50px"> 
                

            </li>
            <li class="nav-item p-30">
                <img src="../../assets/img/icones/bookmark.png" alt="icone salvar" width="50px"
                height="50px">
            </li>





        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center ">

            <li class="nav-item dropdown m-10" style="margin-right: 130px;" >
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="#">Conta</a>
                    <a class="dropdown-item" href="#">Editar perfil</a>
                    <a class="dropdown-item" href="#">Configurações</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                       
                        <img src="../../assets/img/icones/Alimentizze (1).png" alt="" width="70px" height="70px"
                        class="img-fluid rounded-circle"  routerLink='/sobre-nos'> Sobre nós </a>
                      
                        <a class="dropdown-item" href="#" routerLink='/contatos'>Contatos</a>

                        <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sair</a>
                </div>
            </li>
        </ul>

    </div>
</nav>