<nav class="navbar navbar-expand-lg navbar-light  fundo-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item active">
                <img src="../../assets/img/icones/Alimentizze (1).png" alt="Icon do nosso projetito" width="70px"height="70px" class="img-fluid rounded-circle
                ">
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                </form>
            </li>

        </ul>
        <ul class="navbar-nav m-auto d-flex align-items-center  ">


            <li class="nav-item p-30 ">
                <img src="../../assets/img/icones/pagina-inicial.png" alt="icone home">
            </li>
            <li class="nav-item p-30">
                <img src="../../assets/img/icones/multiple-users-silhouette.png" alt="icone ong's">
            </li>
            <li class="nav-item p-30">
                <img src="../../assets/img/icones/bookmark.png" alt="icone salvar">
            </li>



           

        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center ">

            <li class="nav-item dropdown m-10">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Conta</a>
                    <a class="dropdown-item" href="#">Editar perfil</a>
                    <a class="dropdown-item" href="#">Configurações</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"> <img src="../../assets/img/icones/Alimentizze (1).png" alt="" width="70px"height="70px" class="img-fluid rounded-circle"> Sobre nós</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sair</a>
                </div>
            </li>
        </ul>

    </div>
</nav>