<footer class="page-footer font-small rodapé-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-success">Confira o codigo projeto</h4>

            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 d-flex justify-content-center ">

                <a href="https://github.com/SuCastro/ProjetoAlimentizze" target="_blank" class="icoGitHub">
                    <img src="../../assets/img/icones/Alimentizze (3).png" alt="icone do github" width="35px"
                        height="35px">
                </a>

            </div>
        </div>


    </div>

    <div class="footer-copyright bg-dark text-center py-1">
        <span class="text-light"> © Copyright 2021:</span>
        <a class="text-light" target="_blank" href="#"> Equipe Alimentizze</a>

    </div>

</footer>