.al{

  color:#10501C;
}


.mxr-150{
  margin-right: 70px;
}

.mxr-7{
  margin-right: 7px;
}

.fundo-cadastrar{
  background-color: #0F501D;
}
.radio{

  border-radius: 35px 35px
}
.radios{
  border-radius: 25px 25px 

}
.lar{

  background-color: #FF914D;
}
.zul{
  
   background-color:  #00C2CB;
}

.zulSelect{

  
   color:#00C2CB;
}

.fundoVerdinClarin{

  background-color: #CAEDBA;

}

.al{

  color:#0F501D;
}

.fundoForms{

  background-color: #DCF1D3;
}

