#img-bg{
  background-image: url("https://imgur.com/IiKCcsp.jpg");

  min-height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.al{

  color:#10501C;
}

.mxr-7{
  margin-right: 7px;
}

.fundo-cadastrar{
  background-color: #10501C;
}
.radio{

  border-radius: 35px 35px
}
.radios{
  border-radius: 25px 25px 

}
.lar{

  background-color: #FF914D;
}
.zul{
  
   background-color:  #00C2CB;
}

