<div class="container-fluid fundo-cadastrar text-white">
  <div class="row">
      <div class="col-md-6" id="img-bg"></div>

      <div class="col-md-6 mt-5 mb-5">
          <div class="row d-flex justify-content-center">
              <div class="col-md-10">
                  <h1 class="text-center">
                      Cadastro
                  </h1>


                  <div class="form-group">
                    <label for="tipo">Tipo de Usuário</label>
                    <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                        <option>Selecione um tipo de usuário</option>
                        <option value="normal">ONG'S</option>
                        <option value="admin">Colaborador</option>

                    </select>
                </div>

                <br>

                  <div class="form-group">
                      <label for="nomeCompleto">Nome Completo</label>
                      <input [(ngModel)]="usuario.nomeCompleto"  class="form-control" type="text" name="nomeCompleto" id="nomeCompleto" placeholder="Digite seu nome completo" >
                  </div>

                  <div class="form-group">
                      <label for="email">E-mail</label>
                      <input [(ngModel)]="usuario.email" class="form-control" type="text" name="email" id="email"
                          placeholder="Digite seu email">
                  </div>

                  <div class="form-group">
                      <label for="foto">Linda da foto</label>
                      <input [(ngModel)]="usuario.foto" class="form-control" type="text" name="foto" id="foto"
                          placeholder="Link da sua foto">
                  </div>

                  <div class="form-group">
                      <label for="senha">Senha</label>
                      <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                  </div>

                  <div class="form-group">
                      <label for="confirmSenha">Confirmar senha</label>
                      <input [(ngModel)]="usuario.senha" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                          placeholder="Confirme sua senha">
                  </div>

                  <br>

                  <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-danger mxr-7" routerLink='/entrar'>Cancelar</button>
                      <button type="submit" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
                  </div>

              </div>

          </div>

      </div>



  </div>

</div>
