<div class="container-fluid css-selector w-100 ">
    <div class="row d-flex align-items-center ">
        <div class="col-md-6">

            <img src="../../assets/img/icones/Alimentizze (1).png" alt="Logo alimentize" width="660px" height="660px">

        </div>

        <div class="col-md-4 mt-3 fundoForms radio ">
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <h1 class="text-center al mt-3 mb-3">
                        Cadastro
                    </h1>


                    <div class="fw-bold mxr-150 al text-center">

                        
                        <label class="mxr-150">
                            <input  type="radio" name="options" (click)="selecionarRadio('ONG')">
                            ONG
                            
                        </label>
                        <label>
                            <input [(ngModel)]="usuario.tipoDeUsuario" type="radio" name="options" (click)="selecionarRadio('colaboradore')" >
                            COLABORADORE
                            
                        </label> 

                    </div> 

                    <br>

                    <div class="form-group">
                       
                        <input [(ngModel)]="usuario.nomeCompleto" class="form-control radio fundoVerdinClarin fw-bold al" type="text"
                            name="nomeCompleto" id="nomeCompleto" placeholder="Nome completo: ">
                    </div>

                    <div class="form-group">
                        
                        <input [(ngModel)]="usuario.email" class="form-control radio fundoVerdinClarin fw-bold al" type="text" name="email"
                            id="email" placeholder="Email:">
                    </div>

                    <div class="form-group">
                        
                        <input [(ngModel)]="usuario.foto"class="form-control radio fundoVerdinClarin fw-bold al" type="text" name="foto" id="foto"
                            placeholder="Link da sua foto:">
                    </div>

                    <div class="form-group">
                       
                        <input (input)='confirmSenha($event)' class="form-control radio fundoVerdinClarin fw-bold al" type="password" name="senha"
                            id="senha" placeholder="Sua senha:">
                    </div>

                    <div class="form-group">
                        
                        <input [(ngModel)]="usuario.senha" class="form-control radio fundoVerdinClarin fw-bold al" type="password"
                            name="confirmSenha" id="confirmSenha" placeholder="Confirme sua senha:">
                    </div>

                    <br>

                    <div class="d-flex justify-content-center mb-4">
                        <button type="submit" class="btn lar mxr-7 radio fw-bold text-white" routerLink='/entrar'>Cancelar</button>
                        <button type="submit" class="btn zul radio fw-bold text-white" (click)="cadastrar()">Cadastrar</button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</div>