<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">

            <div class="row d-flex justify-content-center  fundocarrosel">
                <div class="col-md-6">
                    <img class="d-block w-100" src="../../assets/img/imagens/alimentizze logo.jpeg" alt="Primeiro Slide">

                </div>
                <div class="col-md-5">
                    <h1 class="d-block w-100 font-weight-bold fontH1 mt-3">SOBRE NÓS</h1>
                    <h5 class="d-block w-100 text-white text-justify mt-3 mb-3 ">
                        Este projeto foi desenvolvido ao longo do Bootcamp da Generation Brasil. O
                        trabalho tem como objetivo criar uma plataforma de conexão entre
                        interessados em ajudar/contribuir, e ongs que fazem trabalhos voltados a
                        doação e coleta de alimentos para pessoas com necessidades. Desenvolvido
                        sobretudo para esse momento de pandemia aonde as desigualdades foram ainda mais acentuadas.</h5>

                    <iframe width="450" height="300" src="https://www.youtube.com/embed/gmHb0U4Wa7g" title="YouTube video player" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>


            </div>          


        </div>




        <div class="carousel-item">

            <div class="row d-flex justify-content-center fundocarrosel text-white">

                <div class="col-md-12 d-block w-100 font-weight-bold fontH1 mt-3 text-center">
                    <h1>Nossa equipe de desenvolvedores</h1>
                </div>


                <div class="col-md-12 ">

                    <div class="card-deck">
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px" src="../../assets/img/imgDevs/Felipe.JPG" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Felipe Sousa</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>


                            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            
                          </div>
                        </div>
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px" src="../../assets/img/imgDevs/Guilherme.JPG" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Guilherme Matheus</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>


                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                            

                          </div>
                        </div>
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px" src="../../assets/img/imgDevs/Stelvio.JPG" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Stelvio Smith</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>



                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
                            
                          </div>
                        </div>
                      </div>



                </div>


                <div class="col-md-12 mt-3 d-flex align-items-center">

                    <div class="card-deck">
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px" src="../../assets/img/imgDevs/Suellen.JPG" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Suellen Castro</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>



                            <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
                            
                          </div>
                        </div>
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px"  src="../../assets/img/imgDevs/Tamires.JPG" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Tamires Guimarães</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>


                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional.</p>
                            
                          </div>
                        </div>
                        <div class="card align-items-center fundoCard">
                          <img class="rounded-circle" width="150px" height="150px" src="../../assets/img/imgDevs/thiago.jpg" alt="Imagem de capa do card">
                          <div class="card-body">
                            <h5 class="card-title text-center">Thiago Pedroso</h5>

                            <a href="https://github.com/ThiagaoCode" target="_blank">
                                <img src="../../assets/img/iconesRedes/github.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>

                            <a href="https://www.linkedin.com/in/thipedroso/" target="_blank">
                                <img src="../../assets/img/iconesRedes/linkedin.png" alt="icone do github" width="35px"
                                    height="35px">
                                
                            </a>



                            <p class="card-text">thi.pedroso.soares@gmail.com</p>
                            
                          </div>
                        </div>
                      </div>



                </div>







            </div>


           


        </div>

       
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>