<div style="background-color:#0F501D">
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" data-interval="0">

        <div class="carousel-inner  ">
            <hr>
            <div class="carousel-item active">


                <div class="row d-flex justify-content-center  fundocarrosel">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="../../assets/img/imagens/alimentizze logo.jpeg"
                            alt="Primeiro Slide">

                    </div>
                    <div class="col-md-5 mt-4">
                        <h1 class="d-block w-100 font-weight-bold fontH1 mt4 ft">SOBRE NÓS</h1>
                        <p class="d-block w-100 text-white text-justify mt-3 mb-3 fs-5
                        ">
                            A Tecnologia é fundamental para a transformação social e com esse pensamento desenvolvemos o
                            projeto Alimentezze projeto para apoiar essa mudança !</p>
                            
                            <p class="d-block w-100 text-white text-justify mt-3 mb-3 fs-5
                            "> O Pacto Global da ONU é a base para criação da rede social Alimentizze que tem como meta
                            conectar pessoas, formando uma rede colaborativa. De um lado temos ONG 'S que trabalham com
                            projetos sociais promovendo um impacto direto na redução das desigualdades e na outra ponta
                            pessoas com sentimento de contribuir para construção de um mundo mais solidário e menos
                            desigual.</p>

                        <!--<iframe width="450" height="300" src="" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>-->

                    </div>


                </div>


            </div>




            <div class="carousel-item  mb-3 mt-4">

                <div class="row d-flex justify-content-center fundocarrosel text-white ">

                    <div class="col-md-12 d-block w-100 font-weight-bold fontH1 mt-1 text-center mb-4">
                        <h1>Nossa equipe de desenvolvedores</h1>
                    </div>

                    <div class="mb-5">

                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 ">


                                <div class="card-deck">



                                    <div class="col-md-1"></div>

                                    <div class="col-md-3 d-flex justify-content-center ">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-items-center">

                                                    <img src="../../assets/img/imgDevs/Felipe.JPG " alt=""
                                                        class="img  ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="title  text-center ">Felipe Souza</div>
                                                <div class="title  text-center ">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center ">

                                                    <a class="mr-3 mt-3 " href="https://github.com/Felipepereirasouza"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/felipe-pereira-de-souza/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>


                                                </div>


                                            </div>



                                        </div>

                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgDevs/Guilherme-cortado.png" alt=""
                                                        class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Guilherme Matheus</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">

                                                    <a class="mr-3 mt-3 " href="https://github.com/GuiMatheus"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3"
                                                        href="https://www.linkedin.com/in/guilherme-matheus99"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                </div>



                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgDevs/Stelvio.JPG" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Stelvio Smith</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/StelvioSM"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3"
                                                        href="https://www.linkedin.com/in/stelvio-smith/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>


                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>






                                </div>



                            </div>

                        </div>


                    </div>





                    <div class=" mb-3">

                        <div class="row d-flex justify-content-center">

                            <div class="col-md-12  ">

                                <div class="card-deck ">


                                    <div class="col-md-1"></div>

                                    <div class="col-md-3 d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgDevs/Suellen.JPG" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center"> Suellen Castro</div>

                                                <div class="title  text-center">Desenvolvedora Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/SuCastro"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3"
                                                        href="https://www.linkedin.com/in/suellen-castro-/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>


                                            </div>

                                        </div>

                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgDevs/Tamires.JPG" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Tamires Guimarães</div>

                                                <div class="title  text-center">Desenvolvedora Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/TamiresGS"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/tamiresgs/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-3  d-flex justify-content-center">

                                        <div>

                                            <div class="row d-flex justify-content-center">
                                                <div class="zoom img1 img  d-flex align-itemscenter">

                                                    <img src="../../assets/img/imgDevs/thiago.jpg" alt="" class="img ">

                                                </div>
                                            </div>

                                            <div class="row d-flex align-items-center">

                                                <div class="name text-center">Thiago Pedroso</div>

                                                <div class="title  text-center">Desenvolvedor Fullstack</div>

                                                <div class="row d-flex justify-content-center">
                                                    <a class="mr-3 mt-3 " href="https://github.com/ThiagaoCode"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/github.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>

                                                    <a class="mr-3 mt-3" href="https://www.linkedin.com/in/thipedroso/"
                                                        target="_blank" style="width: 2rem;">
                                                        <img src="../../assets/img/iconesRedes/linkedin.png"
                                                            alt="icone do github" class="zoomInLeft">

                                                    </a>
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-1"></div>



                                </div>



                            </div>

                        </div>

                    </div>











                </div>





            </div>


        </div>




        <a class="carousel-control-prev " style="width: 20px;" href="#carouselExampleIndicators" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next " style="width: 20px;" href="#carouselExampleIndicators" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>





    </div>

</div>