.fundocarrosel{
    background-color:#0F501D;
}

.formattexto{
    margin-top: 70px;
}

.fontH1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #CAEDBA;
}

.fundoCard{
    background-color:#0F501D;

}