<div class="container-fluid css-selector w-100 ">
    <div class="row d-flex align-items-center ">
        <div class="col-md-6">

            <img src="../../assets/img/icones/Alimentizze (1).png" alt="Logo alimentize" width="625px" height="625px">

        </div>

        <div class="col-md-4 mt-3 fundoForms radio ">
            <div class="row justify-content-center">
                <div class="col-md-10 ">
                    <h1 class="text-center al mt-3 mb-3">
                       Entre em Contato
                    </h1>


                    <br>

                    <div class="form-group">
                       
                        <input class="form-control radio fundoVerdinClarin fw-bold al" type="text"
                            name="nomeCompleto" id="nomeCompleto" placeholder="Nome completo: ">
                    </div>

                    <div class="form-group">
                        
                        <input class="form-control radio fundoVerdinClarin fw-bold al" type="text" name="email"
                            id="email" placeholder="Email:">
                    </div>

                    <div>
                        <textarea class="form-control radio fundoVerdinClarin fw-bold al"  name="" 
                        id="" cols="30" rows="10" placeholder="Assunto:"></textarea>
                    </div>

                
                    <br>

                    <div class="d-flex justify-content-center mb-4">
                        <button type="submit" class="btn lar mxr-7 radio fw-bold text-white" routerLink='/home'>Cancelar</button>
                        <button type="submit" class="btn zul radio fw-bold text-white" >Enviar</button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</div>