<div class="container-fluid fundo-contatos w-100">


    <div class="row d-flex align-items-center">
    
        <div class="col-md-6 d-flex justify-content-center">
      
                <img src="../../assets/img/icones/Alimentizze logo.png" alt="">
    
        </div>
    
    
        <div class="col-md-4 radiotext-white justify-content-center al ">
        
            <div class="row d-flex justify-content-center d-flex align-items-center">
                <div class=" radios fundoForms mt-3 ">
                
                    <h4 class="text-center">Entre em Contato:</h4>
    
                    <form class="mb-4 justify-content-center text-center  radios  ">
                       <label for="nome"></label> <br>
                       <input class="radios Tm fundoVerdinClarin a" type="text"  id= "nome"placeholder="  Nome: ">
                       <br>
                       <br>
                       <label for="email"></label> <br>
                       <input class="radios fundoVerdinClarin Tm a" type="email" id="email" placeholder="  Email:">
                       <br>
                       <br>
                       <label for="assunto"></label> <br>
                       <textarea class="radios fundoVerdinClarin Tm a" name="assunto" id="assunto" cols="45" rows="10" placeholder="  Assunto: "></textarea>
                       <br>
                       <button class="btn btn-outline-danger " routerLink="/home">Cancelar</button>
                       <button class="btn btn-outline-success ml-4" click="Enviar()">Enviar</button>
                     
                    </form>
                 </div>
    
            </div>
    
            
            
         </div>
        </div>
    
    
    
    
    </div>