<div class="container-fluid css-selector ">

    <div class="row  d-flex justify-content-center ">
        <div class="col-md-5 fundoForms radio  ml-5 ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h1 class="text-center al">Atualizar Tema</h1>

                </div>
            </div>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-5">
                    <div class="row d-flex justify-content-center">

                            <div class="form-group">
                                <label class="al fs-4 " for="categoria">Categoria</label>
                                <input type="text" class="form-control radio w-140 fundoVerdinClarin" id="categoria"
                                    [(ngModel)]='tema.categoria'>
                            </div>

                            <div class="d-flex justify-content-center mb-4 ">
                                <button class="btn btn-danger radio mxr-7 " routerLink='/tema'>Cancelar</button>
                                <button class="btn btn-success radio" (click)='atualizar()'>Atualizar</button>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <br>

        </div>